/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts


// Colors used in the theme
// Colors
$brand-primary:         #e30613;
$brand-code-red:        #752d29;

$fa-font-path:          '~font-awesome/fonts';

$brand-font:            Merriweather, 'serif';
$brand-time:            .2s;

$codeBackground: #23241f;

$backgroundColor: linear-gradient( lighten( $brand-primary, 50% ), lighten( $brand-primary, 54% ) );

// Main text
$mainFont: Merriweather, 'serif';
$mainColor: rgb(41, 43, 44);

// Headings
$headingFont: Merriweather, 'serif';
// $headingTextShadow: 2px 2px 2px $brand-primary;

// h1 shadow, borrowed humbly from 
// (c) Default theme by Hakim El Hattab
// $heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

// Links
$linkColor: $brand-code-red;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $brand-code-red;
$selectionColor: #fff;

.fixed {

  .brand {
    a.icon {
      display: block; position: fixed;
      z-index: 100;
      left: 10px; top: 0;
      width: 80px; height: 80px;
      background: url( '../../img/favicon.png') center center no-repeat;
      background-size: 64px;
      cursor: pointer;
      text-indent: -9999px;
    }

    div.links {
      display: block; position: fixed;
      z-index: 100;
      left: 0; bottom: 0;
      padding: 20px;
      font-size: 14px;
      font-style: italic;
    }
  }

  div.talk {
    display: block; position: fixed;
    z-index: 100;
    right: 0; top: 0;
    padding: 20px;
    text-align: right;

    h1.title {
      margin: 0 0 5px;
      font-size: 14px; 
      text-transform: capitalize;
      font-style: italic;
    }

    a.url {
      display: block;
      font-size: 14px; 
      font-weight: 700;
      text-transform: lowercase;
    }
  }
}

.reveal {
  .structure {

    ol {

      margin-top: 60px;

      li {
        display: block; position: relative; float: left;
        width: 40%; height: 140px;
        margin: 10px 5%;

        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        list-style: none;

        &::before,
        &::after {
          position: absolute;
          top: 15px;
          font-size: 140px;
          font-weight: normal;
        }

        &::before { content: "{"; left: 0; }
        &::after  { content: "}"; right: 0; }

        &.current {
          color: $brand-primary;
          & ~ li { opacity: .1 }
        }

      }
    }
  }

  section.me {
    .dia {
      float: left;
      width: 50%;
      padding: 10rem 0; margin-left: 10%;

      .nametag {
        width: 256px; height: 256px;
        margin: 0 auto;
        background: url( '../../img/favicon.png') center center no-repeat;
      }
      .photo {
        width: 400px; height: 400px;
        margin: 0 auto;
        background: url( '../../img/caseydriscoll.jpg') center center no-repeat;
        background-size: 400px;
        box-shadow: 0 0 10px gray;
        border-radius: .5rem;
      }
    }

    .bio {
      float: left;
      width: 30%;
      padding: 8.5rem 0;

      // @include media-breakpoint-up(md) {
      //   padding: .5rem 0;
      // }

      &:nth-of-type(2) {
        p {
          margin-bottom: 0;
          line-height: 1.5;
        }

        img {
          max-width:100%;
          margin: 1.5rem auto .5rem;
        }

        span {
          display: block;
          width: 8rem;
          padding: 0; margin: 0 auto;
          text-align: center;
          font-size: 0.6rem;
        }
      }

      p {
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.25em;
        font: {
          size: 1.0rem;
          weight: 600;
        }

        // @include media-breakpoint-up(md) {
        //   font: {
        //     size: .6rem;
        //     weight: 500;
        //   }
        // }

        // @include media-breakpoint-up(lg) {
        //   font: {
        //     size: .8rem;
        //     weight: 600;
        //   }
        // }

        em, a {
          font-weight: 900;
          color: $brand-primary;
          border: none;
          font-style: italic;
        }

        img {
          margin: 1.5rem auto;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          border-radius: .5rem;

          // @include media-breakpoint-up(md) {
          //   max-width: 8rem;
          // }
        }

        strong {
          font-weight: 900;

          &.heart {
            color: #e30613;
            font-style: normal;
          }
        }
      }
    }
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal p {
    font-weight: 300;
}

.reveal h1 { color: black; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
    color: $mainColor;
    text-transform: none;
}

.reveal p code {
    background-color: $codeBackground;
    display: inline-block;
    border-radius: 7px;
}

.reveal small code {
    vertical-align: baseline;
}

.reveal .progress {
  bottom: auto; top: 0;
  height: 10px;

  span { background-color: $brand-primary;   }
}