$red : #aa2233;

section {

	&.structure {

		ol {

			margin-top: 40px;

			li {
				display: block; position: relative; float: left;
				width: 44%; height: 160px;
				margin: 20px 3%;

				font-size: 55px;
				line-height: 55px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				list-style: none;

				&::before,
				&::after {
					position: absolute;
					top: 15px;
					font-size: 160px;
					font-weight: normal;
				}

				&::before { content: "{"; left: 0; }
				&::after  { content: "}"; right: 0; }

				&.current { color: $red; }
			}
		}
	}
}